@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@500;700&family=Spartan:wght@700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    background-color: hsl(210, 46%, 95%);
    font-family: 'kumbh sans',sans-serif;
    height: 100vh;
}
.main{
    background-color: white;
    display: flex;
    justify-content: center;
}
h1{
    color: hsl(217, 19%, 35%);
    font-size: 20px;
    
}
button{
    border: none;

    border-radius: 50%;
}
.shareit{
  cursor: pointer;
}
/* mobile design */
@media screen and (max-width:800px) {
    
    .main{
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 50px auto;
        background-color: white;
        border-radius: 10px;
        
    }
    /* drawer picture */
    .drawer{
        width: 100%;
        border-radius: 10px 10px 0 0 ;
        
    }
    .text{
        padding: 10px 25px;
    }
    .para{
        color: hsl(214, 17%, 51%);
    }
    /* profile segment */
    .profile{
        display: flex;
        padding: 20px 0 10px 0 ;
        justify-content: space-around;
        cursor: pointer;
        align-items: center;
    }
    .pfp{
        width: 20%;
        height: 20%;
        border-radius: 50%;
    }
    
    .name{
        font-size: 14px;

    }
    .profile-alt{
        background-color: hsl(217, 19%, 35%);
        display: none;
        justify-content: space-around;
        padding:15px 0 ;
        border-radius: 0 0 10px 10px;
        align-items: center;
        
    }
    .share-icons{
        display: flex;
        padding: 10px 25px;
        justify-content: space-bet;
       
    }
    .share{
        width: 20px;
        height: 20px;
        padding: 0 5px;
    }
    .unshare{
        padding-right: 20px;
        border-radius: 50%;
    }
    .hide{
        visibility: hidden;
    }
}
@media screen and (min-width:801px){
    body{
        margin:0;
        padding: 0;
        background-color: hsl(210, 46%, 95%);
        font-family: 'kumbh sans',sans-serif;
        height: 100vh;
    }
    .main{
        width: 700px;
        margin: 120px auto;
        border-radius: 10px;
        /* align-self: center; */
        /* margin-left: auto; */
    }
    .drawer{
        width: 40%;
        /* height: 100%; */
        border-radius: 10px 0 0 10px;
    }
    .profile{
        display: flex;
        padding-bottom: 10px;
        justify-content: space-around;
        align-items: center;
    }
    .pfp{
        width: 50px;
        border-radius: 50%;
    }
    .profile-alt{
        background-color: hsl(217, 19%, 35%);
        display: none;
        justify-content: space-around;
        padding:15px 0 ;
        border-radius: 0 0 10px 10px;
        align-items: center;
        flex-direction: row;
    }
    .text{
        padding: 0 20px;
    }
}